*{
    margin: 0;
    padding: 0;
}


.navbar-brand {

	display:flex;
	position: absolute;
	width: 95px;
			}

	
body {
		font-family: 'League Spartan', sans-serif;
		background-color: #9bcbb3;
	 }	

