<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<title>PlæntyPi</title>
	<link rel="shortcut icon" type="x-icon" href="{{ url_for ('static', filename='tabLogo.png')}}">
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap"
</head>

<body>
	<style>
	.plant-row{
		background-color: #9bcbb3;
		height: 400px;
	}
	
	body{
        font-family: 'League Spartan', sans-serif;
	}
	
    .full-height-col{
			height: 100%;
     }
        
	</style>
	

	<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="{{ url_for ('static', filename='logo.png')}}" alt="not working" width="120" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for ('index')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kamera Feed</a>
        </li>
        <li class="nav-item">
			<!-- Flask URL generation will be used instead of relative path because it does not seem to properly read -->
          <a class="nav-link" href="{{ url_for ('about')}}">Über PlaentyPi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
	



	<form method="Post" action="/add_plant">
		<label for="plant_type">Plant Type:</label>
		<input type="text" name="plant_type" required><br>
		
		<label for="soil_sensor">Sensor ID:</label>
		<input type="text" name="soil_sensor" required><br>
		
		
		<label for="plant_name">Name der Pflanze:</label>
		<input type="text" name="plant_name" required><br>
		
		
		<input type="submit" value="Add Plant">
		
	</form>
	
</body>
