<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlaentyPi Webpage Design</title>

    <link rel="stylesheet" href='../static/pistyle.css'/>

</head>

<body>
<section id="banner">
    <img src='../static/plaentypi_logo.png' class="logo">
    <div class="banner-text">
        <h1>Your digital plant nursery</h1>
        <p>Observe, water and watch your plants thrive!</p>
        <hr>
        <img src='/plot/soil' alt="Soil Moisture Graph" width="49%">
        <hr>
    </div>

</section>

<section id="main">
    <div class="main-text">
    <h2> Let´s check how your friends are doing.</h2>
    <h2> Checked at: {{time}}</h2>
    </div>
    <div class="data" style="width: 200px; float:left; height:200px;background: #FFFFFF ;margin: 100px; border-radius:25px">
        <h3>Temperature:  {{temp}}</h3>
    </div>
    <div class="data" style="width: 200px; margin: 100px; float:left; height:200px;background: #FFFFFF ;margin: 100px; border-radius:25px">
        <h3> Soil Moisture: {{soil}}</h3>
    </div>
    <div class="data" style="width: 200px; margin: 100px; float:left; height:200px;background: #FFFFFF ;margin: 100px; border-radius:25px">
        <h3> Light: {{light}}</h3>
    </div>

</section>

</body>
